.header{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__navigation {
        font-size: $font-size-menu;

        ul{
            list-style: none;
        

            li{
                text-align: center;
                color: $color-primay;
                line-height: 32px;

                :hover{
                color: $color-hover;
                }

            }
        }
    }

}