.presentation{

    padding: $section-padding;

    &__title{
        @include title-center;
    }

    &__subtitle{
        @include title-center;
    }

    &__content{

        @include flexRowAlign;
        max-width: 100%;

        img{
            max-width: 40%;
        }

    }

}


